body{
    margin: 0;
}

h1, h2, h3, h4, li{
    font-family: 'Quicksand', sans-serif;
}

header{
    display: flex;
    flex-direction: column;
    background-color: #2f2f2f;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 10px 0;
}

header h1{
    text-align: center;
}

header img{
    width: 60%;
}

main{
    margin: 0 10px;
}

main h2{
    background-color: #c0c0c0;
    text-align: center;
    padding: 10px 0;
}

li ul {
    margin: 10px 0;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 600px) {
    

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    header{
        flex-direction: row;
        justify-content: space-evenly;
    }

    header span{
        max-width: 50%;
    }

    header img{
        width: 30%;
    }

    main{
        margin: 0 30px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    main{
        margin: 0 15%;
    }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    main{
        margin: 0 20%;
    }
    header img{
        width: 30%;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    header img{
        width: 25%;
    }
}

@media only screen and (min-width: 1500px) {
    header img{
        width: 15%;
    }
}